body {
    font-family: 'ProximaNova Regular';
    font-weight: normal;
    color: #707478;
}

@font-face {
    font-family: 'ProximaNova Light';
    src: url("../../assets/fonts/ProximaNova-Light.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova Regular';
    src: url("../../assets/fonts/ProximaNova-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'ProximaNova Light';
}


a {
    text-decoration: none !important;
}

.val {
    color: red;
}

.dl-horizontal dd {
    padding-bottom: 10px;
}

.bootstrap-select.btn-group .btn .filter-option {
    font-weight: normal;
}
.container{
background:#fff;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
font-size:13px;
}
button.print-button {
	width: 70px;
	height: 70px;
}
span.print-icon, span.print-icon::before, span.print-icon::after, button.print-button:hover .print-icon::after {
	border: solid 4px #EC0B43;
}
span.print-icon::after {
	border-width: 2px;
}
button.print-button {
	position: relative;
	padding: 0;
	border: 0;
	border: none;
	background: transparent;
}
span.print-icon, span.print-icon::before, span.print-icon::after, button.print-button:hover .print-icon::after {
	box-sizing: border-box;
	background-color: #fff;
}
span.print-icon {
	position: relative;
	display: inline-block;
	padding: 0;
	margin-top: 20%;
	width: 60%;
	height: 35%;
	background: #fff;
	border-radius: 20% 20% 0 0;
}
span.print-icon::before {
	content: " ";
	position: absolute;
	bottom: 100%;
	left: 12%;
	right: 12%;
	height: 110%;
	transition: height .2s .15s;
}
span.print-icon::after {
	content: " ";
	position: absolute;
	top: 55%;
	left: 12%;
	right: 12%;
	height: 0%;
	background: #fff;
	background-repeat: no-repeat;
	background-size: 70% 90%;
	background-position: center;
	background-image: linear-gradient( to top, #fff 0, #fff 14%, #333 14%, #333 28%, #fff 28%, #fff 42%, #333 42%, #333 56%, #fff 56%, #fff 70%, #333 70%, #333 84%, #fff 84%, #fff 100% );
	transition: height .2s, border-width 0s .2s, width 0s .2s;
}
button.print-button:hover {
	cursor: pointer;
}
button.print-button:hover .print-icon::before {
	height: 0px;
	transition: height .2s;
}
button.print-button:hover .print-icon::after {
	height: 120%;
	transition: height .2s .15s, border-width 0s .16s;
}
ul.blog-tags li {
	display: inline-block;
}
ul.blog-tags a {
	background: none repeat scroll 0 0 #f7f7f7;
	display: inline-block;
	font-size: 13px;
	margin: 0 3px 6px 0;
	padding: 2px 7px;
	color:#333;
}
ul.blog-tags a i {
	color: #666;
}
ul.blog-tags a:hover {
	background: none repeat scroll 0 0 #72c02c;
}
ul.blog-tags a:hover, ul.blog-tags a:hover i {
	color: #fff !important;
	text-decoration: none;
	transition: all 0.2s ease-in-out 0s;
}
.table{
margin-bottom:0;
}
.slide_panel{
padding:0;
margin:0;
}
.slide_panel li{
list-style-type: none;
border-bottom:1px dashed #aaa;
padding-bottom:6px;
padding-top:6px;
}
.slide_panel li:last-child{
border-bottom:0;
}
.slide_panel li strong{
font-size:13px;
color:#000;
margin-bottom:5px;
}
.slide-title{
border-top:1px solid #000;
border-bottom:1px solid #000;
padding:8px 10px;
color:#fff;
background:#222;
font-weight:bold;
font-size:14px;
}
@media (max-width:767px) {
    .content {
        margin-top: 0px!important;
    }
}